body {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("./assets/20478515_1417390808382389_8471924395537858560_n.jpg");
    background-repeat: repeat;
    background-size: 150px;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("./assets/20478515_1417390808382389_8471924395537858560_n.jpg");
    background-repeat: repeat;

}

img {

    border-radius: 100%;
    width: 25%;
    height: 25%;
    margin-bottom: 2vw;
}

.animate {

    animation: myAnim 2s ease 0s 1 normal forwards;

}

@keyframes myAnim {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

#queja {

    width: 10vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 5px;

}

.count {

    font-size: 5vh;

}

button:hover {

    background-image: url("./assets/357936658_1216206968946908_7285891354666278201_n.jpg");
    background-repeat: repeat;
    background-size: 25px;

}